{% extends 'core/base.html' %}

{% block content %}
<h1 class="text-3xl">About</h1>
    <div class="mt-6 py-6 px-8">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, ipsum. Nostrum velit commodi saepe ducimus ullam id reiciendis enim inventore nisi, impedit eligendi debitis! Odio impedit quo ut sequi explicabo.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, ipsum. Nostrum velit commodi saepe ducimus ullam id reiciendis enim inventore nisi, impedit eligendi debitis! Odio impedit quo ut sequi explicabo.
      </p>
    </div>

{% endblock %}